.section.header {
    background-color: #D2691E;
    color:#ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 10vmin;
}

.section .section-description {
    font-size: 4vmin;
}

.values-heading, .value-description {
    text-align: center;
}

.section.values .values-heading {
    font-size: 5vmin;
}

.section.values .value-description {
    font-size: 3vmin;
}

.login .one-third {
    text-align: center;
}

.login .login-box {
     margin-top: 40px;
     margin-bottom: 40px;
}

.login .input-box {
     margin-bottom: 30px;
}

.button.button-info {
    background-color: #fff;
    color: #000;
}

.section.login .row {
    background-color: #5F9EA0;
    -moz-border-radius:5px;
    border-radius: 5px;
}

form .flex-middle {
    margin-bottom: 10px;
    text-align: center;
}

form .flex-middle input {
    margin-right: 5px;
}

.input-box {
    border: 2px solid #808080;
    -moz-border-radius:5px;
    border-radius: 5px;
}

.login-box {
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

.login-box h4 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.login-box input {
    color: #000;
}

.login-box input:focus {
    outline: none;
    border-color: #9ecaed;
    /*box-shadow: 0 0 10px #9ecaed;*/
    -webkit-box-shadow: 0 0 10px 3px #9ecaed;
    -moz-box-shadow: 0 0 10px 3px #9ecaed;
    box-shadow: 0 0 10px 3px #9ecaed;
}